@import "mixins"

body
  font: normal 14px "Dosis", Helvetica, Arial, sans-serif
  color: #fff
  background: #22272f
  -webkit-font-smoothing: antialiased
  > section
    margin: 0 100px

h1
  font-weight: 200
  font-size: 130px
  text-align: center
  margin: 50px 0 10px 0
h2
  font-weight: 200
  font-size: 30px
  text-align: center
  margin: 0 0 100px 0
  color: #7e8b9f

dl
  text-align: center
  dt
    display: inline-block
    text-align: right
    padding: 0 20px 0 0
    label
      font-size: 24px
      font-weight: normal
      line-height: 40px
  dd
    display: inline-block
    span
      font-size: 24px
      font-weight: bold
      margin: 0 5px
    input[type="text"]
      width: 40px
      height: 40px
      padding: 2px 5px
      font: normal 24px "Dosis", Helvetica, Arial, sans-serif
      color: #22272f
      border: none
      -webkit-appearance: none
      background: #fff
      text-align: center
      &:focus
        outline: none
      &.money
        width: 80px
    .super_number
      display: inline-block
      position: relative
      a.increment,
      a.decrement
        font-family: Helvetica, Arial, sans-serif
        position: absolute
        z-index: 1
        width: 100%
        height: 30px
        font-weight: 200
        text-align: center
        color: #22272f
        text-decoration: none
        font-size: 30px
        line-height: 26px
        background: #72d1d2
        transition: background linear .2s
        -webkit-transition: background linear .2s
        -moz-transition: background linear .2
        &:hover
          background: #5de0e2
      a.increment
        bottom: 100%
        +border-top-radius(3px)
      a.decrement
        top: 100%
        +border-bottom-radius(3px)

code
  display: block
  max-width: 340px
  margin: 0 auto
  pre
    background: rgba(0,0,0,.2)
    padding: 20px
    margin: 20px auto 40px auto

.actions
  max-width: 340px
  margin: 40px auto 80px auto
  text-align: center
  a
    display: block
    padding: 10px
    font-size: 30px
    color: #22272f
    background: #72d1d2
    transition: background linear .2s
    -webkit-transition: background linear .2s
    -moz-transition: background linear .2
    text-decoration: none
    &:hover
      background: #5de0e2
    